@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-RegularItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
.formQu .paidBut, .buttonBlock .buttonPaid {
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 20px;
  background-color: #ff7207;
}
.formQu .paidBut:hover, .buttonBlock .buttonPaid:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px #fff;
}
.formQu .paidBut:active, .buttonBlock .buttonPaid:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.main .buttonFree, .formQu button, .feedbackForm input[type=submit], .buttonBlock .buttonFree {
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 20px;
  background-color: #28a745;
}
.main .buttonFree:hover, .formQu button:hover, .feedbackForm input[type=submit]:hover, .buttonBlock .buttonFree:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px #fff;
}
.main .buttonFree:active, .formQu button:active, .feedbackForm input[type=submit]:active, .buttonBlock .buttonFree:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.descQu, .mainAbout, .mainPro > p, .mainFaq > p, .mainInfo > p {
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.mainInfo {
  max-width: 1200px;
  margin: 0 auto;
}
.mainInfo > p {
  margin: 30px 20px;
}

.infoGraph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 20px;
}
.infoGraph .block {
  box-shadow: 0 0 10px 5px #ccc;
  background-color: #FFF;
  width: 250px;
  height: 365px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.infoGraph .block img {
  margin: 30px 0;
}
.infoGraph .block h3 {
  margin-bottom: 20px;
}
.infoGraph .block p {
  padding-bottom: 25px;
}

.buttonBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 30px;
}
.mainFaq {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;
}
.mainFaq > p {
  margin-bottom: 50px;
}
.mainFaq .faqQu {
  margin-top: 15px;
}
.mainFaq .quWrapper {
  display: inline-block;
  width: 94%;
  text-align: left;
}
.mainFaq .quWrapper .question {
  display: block;
  background-color: #fff;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 20px;
  line-height: 50px;
  border-left: 3px solid black;
  box-shadow: 5px -5px 10px gray;
  cursor: pointer;
}
.mainFaq .quWrapper .ask {
  line-height: 30px;
  text-align: justify;
  background-color: #fff;
  box-shadow: 15px -4px 10px -10px gray;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  padding: 0;
}
.mainFaq .faqPlus, .mainFaq .faqMinus {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  cursor: pointer;
}
.mainFaq .faqPlus {
  background-image: url("../images/plus.png");
}
.mainFaq .faqMinus {
  background-image: url("../images/minus.png");
  display: none;
}

#check, #check1, #check2, #check3, #check4 {
  display: none;
}

#check:checked ~ .plus,
#check1:checked ~ .plus1,
#check2:checked ~ .plus2,
#check3:checked ~ .plus3,
#check4:checked ~ .plus4 {
  display: none;
}

#check:checked ~ .minus,
#check1:checked ~ .minus1,
#check2:checked ~ .minus2,
#check3:checked ~ .minus3,
#check4:checked ~ .minus4 {
  display: inline-block;
}

#check:checked ~ .quWrapper > .open,
#check1:checked ~ .quWrapper > .open1 {
  height: 60px;
  padding: 23px;
  border-top: 1px dotted black;
}

#check2:checked ~ .quWrapper > .open2 {
  height: 90px;
  padding: 23px;
  border-top: 1px dotted black;
}

#check3:checked ~ .quWrapper > .open3 {
  height: 30px;
  padding: 23px;
  border-top: 1px dotted black;
}

#check4:checked ~ .quWrapper > .open4 {
  transition: 1s;
  height: 120px;
  padding: 23px;
  border-top: 1px dotted black;
}

.mainPro {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 20px 0.1px 20px;
}
.mainPro .proTab {
  margin-top: 30px;
}
.mainPro .proTab table {
  border-collapse: collapse;
  background-color: #fff;
}
.mainPro .proTab th {
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 10px 0;
  background-color: rgba(204, 204, 204, 0.3);
}
.mainPro .proTab td {
  font-size: 19px;
  padding: 20px 15px;
  border: 1px solid #ccc;
}
.mainPro .proTab tr > td:nth-child(2),
.mainPro .proTab tr > td:nth-child(3) {
  text-align: center;
  width: 170px;
}

.mainAbout {
  max-width: 1024px;
  margin: 20px auto 50px auto;
  padding: 20px;
}
.mainAbout hr {
  margin: 30px 0;
}
.mainAbout img {
  padding: 0 50px 30px 50px;
  float: left;
}
.mainAbout h2, .mainAbout h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
}
.mainAbout .partners {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.mainAbout .partner {
  border: 1px dotted black;
  width: 200px;
  height: 200px;
}

.feedbackForm {
  width: 70%;
  margin: 0 auto;
}
.feedbackForm #ff-mail {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 20px;
}
.feedbackForm #ff-text {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
}
.feedbackForm label {
  margin-bottom: 10px;
}
.feedbackForm input, .feedbackForm textarea {
  margin-bottom: 10px;
  resize: none;
}

#okLine {
  color: green;
  font-size: 15px;
  margin-bottom: 10px;
}

.mainQu {
  max-width: 1024px;
  margin: 30px auto;
  padding: 20px;
}

.descQu, .formQu {
  display: inline-block;
  width: 45%;
  padding: 0 20px 20px 20px;
}

.descQu {
  float: left;
  padding-top: 0;
  padding-bottom: 0;
}
.descQu p {
  margin: 10px 0;
  text-align: justify;
}

.formQu {
  float: right;
}
.formQu input {
  width: 100%;
  height: 30px;
  padding: 5px 15px;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 10px 0 15px 0;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}
.formQu input:focus {
  transition: 0.3s;
  box-shadow: 0 0 5px 2px #28a745;
}
.formQu textarea {
  width: 100%;
  font-size: 20px;
  font-style: italic;
  padding: 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  resize: none;
  outline: none;
}
.formQu textarea:focus {
  transition: 0.3s;
  box-shadow: 0 0 5px 2px #28a745;
}
.formQu label {
  font-size: 20px;
  padding: 0 0 5px 10px;
}
.formQu input[type=checkbox] {
  width: auto;
  height: auto;
  margin-top: 20px;
}
.formQu span {
  font-size: 15px;
  padding-left: 10px;
  text-shadow: 0 0 10px white;
}
.formQu button {
  margin-top: 15px;
}

#sendMsg {
  font-size: 15px;
  color: #28a745;
  text-shadow: 0 0 10px white;
}

#formPaid input:focus {
  box-shadow: 0 0 5px 2px #ff7207;
}
#formPaid textarea:focus {
  box-shadow: 0 0 5px 2px #ff7207;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
}

.innerWrap {
  transition: 1s;
  height: 100vh;
  background-image: url("../images/default-lawyer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.page {
  opacity: 0.3;
}

.mainMenu {
  display: flex;
  justify-content: center;
}
.mainMenu ul {
  display: inline-block;
  margin: 30px 0;
}
.mainMenu ul li {
  display: inline-block;
  font-size: 20px;
  list-style: none;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
}
.mainMenu a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 25px;
}
.mainMenu a:hover {
  text-decoration: underline;
  background-color: wheat;
}
.mainMenu .currPage {
  background-color: wheat;
}
.mainMenu .burger {
  display: none;
}

.main {
  margin: 150px auto 0 auto;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
.main h1, .main h2 {
  text-align: center;
}
.main h1 {
  font-size: 45px;
}
.main h2 {
  margin-top: 30px;
  font-weight: bold;
}
.main .buttonFree {
  display: block;
  margin: 30px auto;
}
.main .buttonFree:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px #fff;
}
.main .buttonFree:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.activeLink {
  background-color: wheat;
}

.rout-leave-active,
.rout-enter-active {
  transition: 1s;
}

.rout-enter,
.rout-leave-to {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
  }
  .main h1 {
    font-size: 35px;
  }
  .main h2 {
    font-size: 20px;
  }
  .main .buttonFree {
    font-size: 17px;
    padding: 15px;
  }

  /* HOW IT WORKS */
  .infoGraph img {
    width: 60px;
    padding: 0 10px;
  }
  .infoGraph .block img {
    width: 60px;
    padding: 0 10px;
  }
  .infoGraph .block h3 {
    font-size: 15px;
  }
  .infoGraph .block p {
    font-size: 12px;
  }

  /* FAQ */
  .mainFaq .faqPlus, .mainFaq .faqMinus {
    display: none;
  }

  #check:checked ~ .minus,
#check1:checked ~ .minus1,
#check2:checked ~ .minus2,
#check3:checked ~ .minus3,
#check4:checked ~ .minus4 {
    display: none;
  }

  /* About page */
  .mainAbout {
    margin: 20px;
  }
}
@media screen and (max-width: 840px) {
  .mainMenu ul {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  .mainMenu ul li {
    font-size: 15px;
    background: none;
  }

  /* HOW IT WORKS */
  .infoGraph {
    display: block;
  }
  .infoGraph .arrow {
    display: none;
  }
  .infoGraph .block {
    width: auto;
  }
  .infoGraph .block h3 {
    font-size: 20px;
  }
  .infoGraph .block img {
    width: 80px;
  }

  /* About page */
  .mainAbout img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  /* Question pages */
  .descQu, .formQu {
    display: block;
    width: auto;
    float: none;
  }

  .mainQu .formQu {
    margin-top: 30px;
  }
  .mainQu .formQu input {
    width: 95%;
  }
  .mainQu .formQu input[type=checkbox] {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  .mainQu .formQu textarea {
    width: 95%;
  }
  .mainQu .descQu {
    padding: 20px;
  }
}
@media screen and (max-width: 685px) {
  .mainMenu {
    display: block;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: 1s;
  }
  .mainMenu ul {
    background: none;
    margin: 0;
  }
  .mainMenu ul li {
    display: block;
    background: none;
    font-size: 20px;
  }
  .mainMenu .burger {
    display: block;
    width: 60px;
    height: 50px;
    margin: 10px auto;
    cursor: pointer;
  }
  .mainMenu .burger hr {
    background-color: black;
    height: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
  }

  /* HOW IT WORKS */
  .buttonBlock {
    display: block;
    margin: 30px;
  }
  .buttonBlock button {
    width: 100%;
    margin-bottom: 20px;
  }

  /* FAQ */
  .mainFaq {
    margin-top: 20px;
  }

  #check:checked ~ .quWrapper > .open,
#check1:checked ~ .quWrapper > .open1 {
    height: 110px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  #check2:checked ~ .quWrapper > .open2 {
    height: 170px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  #check3:checked ~ .quWrapper > .open3 {
    height: 80px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  #check4:checked ~ .quWrapper > .open4 {
    transition: 1s;
    height: 300px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  /* PRO about page */
  .mainPro .proTab th {
    font-size: 16px;
  }
  .mainPro .proTab td {
    font-size: 15px;
  }
  .mainPro .proTab tr > td:nth-child(2),
.mainPro .proTab tr > td:nth-child(3) {
    width: 100px;
  }

  /* About page */
  .mainAbout .partners {
    flex-direction: column;
    align-items: center;
  }
  .mainAbout .partner {
    margin-bottom: 20px;
  }
  .mainAbout form input[type=submit] {
    display: block;
    margin: 20px auto;
  }

  /* Question pages */
  .mainQu .formQu button {
    display: block;
    margin: 15px auto;
  }
}

/*# sourceMappingURL=style.css.map */
