@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-RegularItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
.main h1, .main h2 {
  text-shadow: 0 -2px 3px #FFFFFF, 0 -2px 3px #FFFFFF, 0 2px 3px #FFFFFF, 0 2px 3px #FFFFFF, -2px 0 3px #FFFFFF, 2px 0 3px #FFFFFF, -2px 0 3px #FFFFFF, 2px 0 3px #FFFFFF, -1px -2px 3px #FFFFFF, 1px -2px 3px #FFFFFF, -1px 2px 3px #FFFFFF, 1px 2px 3px #FFFFFF, -2px -1px 3px #FFFFFF, 2px -1px 3px #FFFFFF, -2px 1px 3px #FFFFFF, 2px 1px 3px #FFFFFF, -2px -2px 3px #FFFFFF, 2px -2px 3px #FFFFFF, -2px 2px 3px #FFFFFF, 2px 2px 3px #FFFFFF, -2px -2px 3px #FFFFFF, 2px -2px 3px #FFFFFF, -2px 2px 3px #FFFFFF, 2px 2px 3px #FFFFFF;
}

.main .buttonFree, .buttonBlock .buttonPaid {
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 20px;
  background-color: #0d7b0d;
}
.main .buttonFree:hover, .buttonBlock .buttonPaid:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px #fff;
}
.main .buttonFree:active, .buttonBlock .buttonPaid:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.buttonBlock .buttonFree {
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 20px;
  background-color: #ae1b1b;
}
.buttonBlock .buttonFree:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px #fff;
}
.buttonBlock .buttonFree:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.wrapperPage {
  min-height: 100vh;
  background-image: url("../images/legaltech_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainAbout, .mainPro > p, .mainFaq > p, .mainInfo > p {
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
}

.mainInfo > p {
  margin: 30px 0;
}

.infoGraph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.infoGraph .block {
  box-shadow: 0 0 30px 5px black;
  background-color: #FFF;
  width: 250px;
  height: 330px;
  text-align: center;
  padding: 0 20px;
}
.infoGraph .block img {
  margin: 30px 0;
}
.infoGraph .block h3 {
  margin-bottom: 20px;
}
.infoGraph .block p {
  margin-bottom: 10px;
}

.buttonBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mainFaq {
  max-width: 800px;
  margin: 0 auto;
}
.mainFaq > p {
  margin-bottom: 50px;
}
.mainFaq .faqQu {
  margin-top: 15px;
}
.mainFaq .quWrapper {
  display: inline-block;
  width: 80%;
}
.mainFaq .quWrapper .question {
  display: block;
  background-color: #fff;
  height: 50px;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 20px;
  line-height: 50px;
  border-left: 3px solid black;
  box-shadow: 5px -5px 10px gray;
  cursor: pointer;
}
.mainFaq .quWrapper .ask {
  line-height: 30px;
  text-align: justify;
  background-color: #fff;
  box-shadow: 15px -4px 10px -10px gray;
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  padding: 0;
}
.mainFaq .faqPlus, .mainFaq .faqMinus {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  cursor: pointer;
}
.mainFaq .faqPlus {
  background-image: url("../images/plus.png");
}
.mainFaq .faqMinus {
  background-image: url("../images/minus.png");
  display: none;
}

#check, #check1, #check2, #check3, #check4 {
  display: none;
}

#check:checked ~ .plus,
#check1:checked ~ .plus1,
#check2:checked ~ .plus2,
#check3:checked ~ .plus3,
#check4:checked ~ .plus4 {
  display: none;
}

#check:checked ~ .minus,
#check1:checked ~ .minus1,
#check2:checked ~ .minus2,
#check3:checked ~ .minus3,
#check4:checked ~ .minus4 {
  display: inline-block;
}

#check:checked ~ .quWrapper > .open,
#check1:checked ~ .quWrapper > .open1,
#check2:checked ~ .quWrapper > .open2,
#check3:checked ~ .quWrapper > .open3,
#check4:checked ~ .quWrapper > .open4 {
  transition: 1s;
  height: 150px;
  padding: 23px;
  border-top: 1px dotted black;
  margin-bottom: 30px;
}

.mainPro {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 0.1px;
}

.mainPro .proTab {
  margin-top: 30px;
}
.mainPro .proTab table {
  border: 3px solid black;
  border-collapse: collapse;
  background-color: #fff;
}
.mainPro .proTab th {
  border: 3px solid black;
  font-size: 20px;
  padding: 10px 0;
}
.mainPro .proTab td {
  font-size: 19px;
  padding: 10px;
}
.mainPro .proTab tr > td:nth-child(2),
.mainPro .proTab tr > td:nth-child(3) {
  text-align: center;
  width: 170px;
}

.mainAbout {
  max-width: 1024px;
  margin: 0 auto;
}
.mainAbout img {
  padding: 30px;
  float: left;
}
.mainAbout h2, .mainAbout h1 {
  text-align: center;
  margin: 20px 0;
}
.mainAbout .partners {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.mainAbout .partner {
  border: 1px dotted black;
  width: 200px;
  height: 200px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
  background-image: url("../images/legaltech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainMenu {
  display: flex;
  justify-content: center;
}
.mainMenu ul {
  display: inline-block;
  margin: 30px 0;
}
.mainMenu ul li {
  display: inline-block;
  font-size: 20px;
  list-style: none;
  text-transform: uppercase;
  margin-right: 25px;
}
.mainMenu ul li:nth-child(4):hover {
  color: green;
}
.mainMenu a {
  text-decoration: none;
  color: black;
}
.mainMenu a:hover {
  text-decoration: underline;
}

.main {
  margin-top: 150px;
}
.main h1, .main h2 {
  text-align: center;
}
.main h1 {
  font-size: 45px;
}
.main h2 {
  margin-top: 30px;
  font-weight: bold;
}
.main .buttonFree {
  display: block;
  margin: 30px auto;
}
.main .buttonFree:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px #fff;
}
.main .buttonFree:active {
  transition: 0.1s;
  transform: scale(0.95);
}

/*# sourceMappingURL=style.css.map */
