.mainAbout {
  max-width: 1024px;
  margin: 20px auto 50px auto;
  padding: 20px;
  @extend %descBlock;
  hr {
  margin: 30px 0;
  }
  img {
    padding: 0 50px 30px 50px;
    float: left;
  }
  h2, h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 30px;
  }
  .partners {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }
  .partner {
    border: 1px dotted black;
    width: 200px;
    height: 200px;
  }
}

.feedbackForm {
  width: 70%;
  margin: 0 auto;
  #ff-mail {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
  }
  #ff-text {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
  }
  input[type="submit"] {
    @extend %buttonFree;
  }
  label {
    margin-bottom: 10px;
  }
  input, textarea {
    margin-bottom: 10px;
  }
}
