.mainInfo {
  > p {
    @extend %descBlock;
    margin: 30px 0;
  }
}

.infoGraph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  .block {
    box-shadow: 0 0 30px 5px black;
    background-color: #FFF;
    width: 250px;
    height: 330px;
    text-align: center;
    padding: 0 20px;
    img {
      margin: 30px 0;
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

.buttonBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  .buttonFree {
    @extend %buttonFree;
  }
  .buttonPaid {
    @extend %buttonPaid;
  }
}
