.mainQu {
  max-width: 1024px;
  margin: 30px auto;
  padding: 20px;
}

.descQu, .formQu {
  display: inline-block;
  width: 45%;
  padding: 0 20px 30px 20px;
}

.descQu {
  @extend %descBlock;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  p {
    margin: 10px 0;
    text-align: justify;
    // font-size: 20px;
  }
}

.formQu {
  float: right;
  input {
    width: 100%;
    height: 30px;
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 10px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    &:focus {
      transition: 0.3s;
      box-shadow: 0 0 5px 2px $freeColor;
    }
  }
  textarea {
    width: 100%;
    font-size: 20px;
    font-style: italic;
    padding: 5px 15px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    resize: none;
    outline: none;
    &:focus {
      transition: 0.3s;
      box-shadow: 0 0 5px 2px $freeColor;
    }
  }
  label {
    font-size: 20px;
    padding: 0 0 5px 10px;
  }
  input[type='checkbox'] {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  span {
    font-size: 15px;
    padding-left: 10px;
    text-shadow: 0 0 10px white;
  }
  button {
    @extend %buttonFree;
    margin-top: 15px;
  }
}

// Style for send-message above submit-button

#sendMsg {
  font-size: 15px;
  color: $freeColor;
  text-shadow: 0 0 10px white;
}
