@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 20px;
    }
    .buttonFree {
      font-size: 17px;
      padding: 15px;
    }
  }

  /* HOW IT WORKS */

  .infoGraph {
    img {
      width: 60px;
      padding: 0 10px;
    }
    .block {
      img {
        width: 60px;
        padding: 0 10px;
      }
      h3 {
        font-size: 15px;
      }
      p {
        font-size: 15px;
      }
    }
  }

  /* FAQ */

  .mainFaq {
    .faqPlus, .faqMinus {
      display: none;
    }
  }

  #check:checked ~ .minus,
  #check1:checked ~ .minus1,
  #check2:checked ~ .minus2,
  #check3:checked ~ .minus3,
  #check4:checked ~ .minus4 {
    display: none;
  }

  /* About page */

  .mainAbout {
    margin: 20px;
  }

}

@media screen and (max-width: 840px) {
  .mainMenu {
    ul {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
      li {
        font-size: 15px;
        background: none;
      }
    }
  }

  /* HOW IT WORKS */

  .infoGraph {
    display: block;
    .arrow {
      display: none;
    }
    .block {
      width: auto;
      height: 300px;
      h3 {
        font-size: 20px;
      }
      img {
        width: 80px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  /* About page */

  .mainAbout {
    p img {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  /* Question pages */

  .descQu, .formQu {
    display: block;
    width: auto;
    float: none;
  }

  .mainQu {
    .formQu {
      margin-top: 30px;
      input {
        width: 95%;
      }
      input[type='checkbox'] {
        width: auto;
        height: auto;
        margin-top: 20px;
      }
      textarea {
        width: 95%;
      }
    }
    .descQu {
      padding: 20px;
    }
  }

}

@media screen and (max-width: 685px) {
  .mainMenu {
    display: block;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: 1s;
    ul {
      background: none;
      margin: 0;
      li {
        display: block;
        background: none;
        font-size: 20px;
      }
    }
    .burger {
      display: block;
      width: 60px;
      height: 50px;
      margin: 10px auto;
      cursor: pointer;
      hr {
        background-color: black;
        height: 8px;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
  }

  .main {
    h1 {
      font-size: 30px;
    }
  }

  /* HOW IT WORKS */

  .infoGraph {
    .block {
      height: 320px;
      p {
        font-size: 16px;
      }
    }
  }

  .buttonBlock {
    display: block;
    margin: 30px;
    button {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  /* FAQ */

  .mainFaq {
    margin-top: 20px;
  }

  #check:checked ~ .quWrapper > .open,
  #check1:checked ~ .quWrapper > .open1 {
    height: 130px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  #check2:checked ~ .quWrapper > .open2 {
    height: 200px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  #check3:checked ~ .quWrapper > .open3 {
    height: 80px;
    padding: 23px;
    border-top: 1px dotted black;
  }

  #check4:checked ~ .quWrapper > .open4 {
    transition: 1s;
    height: 320px;
    padding: 23px;
    border-top: 1px dotted black;
    // margin-bottom: 30px;
  }

  .mainFaq {
    .quWrapper {
      .question {
        padding: 15px;
        line-height: 30px;
      }
    }
  }

  /* PRO about page */

  .mainPro {
    .proTab {
      th {
        font-size: 16px;
      }
      td {
        font-size: 15px;
      }
      tr > td:nth-child(2),
      tr > td:nth-child(3) {
        width: 100px;
      }
    }
  }

  /* About page */

  .mainAbout {
    p img {
      width: 80%;
      padding: 0 0 30px 0;
    }
    .partners {
      flex-direction: column;
      align-items: center;
    }
    .partner {
      margin-bottom: 20px;
    }
    form {
      input[type='submit'] {
        display: block;
        margin: 20px auto;
      }
    }
  }



  /* Question pages */

  .mainQu {
    .formQu {
      padding-left: 0;
      label {
        padding-left: 0;
      }
      button {
        display: block;
        margin: 15px auto;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {

  /* Question pages */

  .feedbackForm {
    width: 100%;
    margin: 0;
    #ff-mail {
      width: 90%;
    }
    #ff-text {
      width: 91%;
    }
    input[type="submit"] {
      margin: 0;
      width: 98%;
    }
  }
}

@media screen and (max-width: 450px) {

  /* FAQ */

  #check:checked ~ .quWrapper > .open,
  #check1:checked ~ .quWrapper > .open1 {
    height: 180px;
  }

  #check2:checked ~ .quWrapper > .open2 {
    height: 330px;
  }

  #check3:checked ~ .quWrapper > .open3 {
    height: 110px;
  }

  #check4:checked ~ .quWrapper > .open4 {
    height: 450px;
  }
}
